/* general */	

.placeholder-section{
	height: 200px;
	padding: 0 0 10px 0;
}

.placeholder-border{
	border: 1px solid;
	border-color: #fff;
}

p {
	color: #000000;
}

ol{
	color: #000000;
}

ol li {
	color: #000000;
}

ul{
	color: #000000;

}

ul li {
	color: #000000;
	list-style-image: url('../images/bullet-ball.gif');
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
 color: #000;
 overflow: hidden;
 text-align: center;
}

h1:before,

h1:after {
 background-color: #f00;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}

h1:before {
 right: 0.5em;
 margin-left: -50%;
}

h1:after {
 left: 0.5em;
 margin-right: -50%;
}

body {
	font: 15px arial, helvetica, sans-serif;
	background: #ffffff;
	color: #000;
}

/*header banner*/
header img{
	width: 100%;
	height: 100%;
	max-width: 100%;
}

nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #000;
	border-bottom: 5px solid #ccc;
	border-top: 5px solid #ccc;
	border-color: #000000;
}

/*Navigation CSS*/
.nav {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li {
    display:inline;
}

.nav a {
    display:inline-block;
    padding:10px;
	color: #fff;
}

.nav ul {
	padding: 0;
	margin: 0;
	background-color: #333;
	float: left;
	white-space: nowrap;
}

.nav li {
	float: left;
	position: relative;
	width: 200px;
	list-style: none;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}


.nav ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	background: #ccc;
	display: none;
	z-index: 500;
}

.nav ul ul ul {
	left: 100%;
	top: 0;
	background: #999;
}

.nav li:hover > ul {
	display: block;
}

.active {
    background-color: #e81010;
}

.footer{
	text-align:center;
	font-size: 12px;
	background-color: #ffa0b8;

	height: 50px;
	padding: 0 0 10px 0;
}

.pmain {
	text-align:center;
	clear: left;
	padding-top: 1em;
}