iframe{
	width: 640px;
	height: 480px;
	border: 3px grey solid;
}

h2 {
	color: #000;
	overflow: hidden;
	text-align: center;
}


h2:before,

h2:after {
 background-color: #db677c;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 10%;
}

h2:before {
 right: 0.5em;
 margin-left: -50%;
}

h2:after {
 left: 0.5em;
 margin-right: -50%;
}

caption {
	font-style: italic;
	font-size: 20px;
}

p.italic {
	  font-style: italic;
}